
 /*Paginas gerais(exceto cadastro)*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    /*nada...*/
}

nav{
    background-color: rgb(255, 239, 147);
    flex-wrap: wrap;
    display:flex;
    font-family:/*nada*/10px;

}

nav a hover{
    text-decoration: none;
    color: black;
    padding: 20px;
    font-size: 20px;
}

div{
    border: solid 1px black;
    padding: 40px;
    border-radius:10px;
}

h2 {
    text-align: center;
    font-size: 30px;
}

a{
    text-align: center;
}

h3{
    text-align: center;
    border: solid 1px black;
    padding: 20px;
    border-radius: 10px;
}
/*Página da Agenda*/
/*Página das Informações*/
/*Página da Midia*/
/*Página dos Eventos*/
