.section-info-page {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.titulo-informacao {
    color: #b98b00;
    font-size: 1.8rem;
}

.bloco-link {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.btn-largo-amarelo {
    background: #dca300;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 16px;
    border-radius: 15px;
    font-weight: bold;
}

.campo-rede-social {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icone-rede {
    width: 32px;
    height: 32px;
}

.barra-input-fake {
    flex: 1;
    height: 28px;
    background: #f8efc7;
    border-radius: 20px;
}