.section-agenda-bloco {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.agenda-subtitulo {
    color: #666;
    font-size: .9rem;
}

.banner-placeholder {
    width: 100%;
    height: 90px;
    background: #f7e89b;
    border-radius: 20px;
}

.section-calendario {
    background: #f4d96f;
    border-radius: 20px;
    padding: 10px;
}

.calendario-header {
    text-align: center;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.calendario-grid {
    margin-top: 10px;
    background: #ffe8a3;
    border-radius: 15px;
    padding: 10px;
}

.enquete-container {
    background: #f8efc7;
    border-radius: 15px;
    padding: 10px;
}

.enquete-header {
    background: #f4d96f;
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
}

.btn-spotify {
    display: block;
    text-align: center;
    background: #f8efc7;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    color: #7a5b00;
    font-weight: bold;
}