.main-card-integrantes {
    width: 100%;
    max-width: 490px;
    padding: 20px;
}

.section-lista-completa h2 {
    color: #b98b00;
    margin-bottom: 20px;
    font-size: 1.8rem;
}

.lista-vertical {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.item-integrante-detalhe {
    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 16px;
    padding: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,.05);
}

.item-integrante-detalhe img {
    width: 75px;
    height: 75px;
    border-radius: 12px;
    object-fit: cover;
    margin-right: 15px;
}

.info-detalhe h3 {
    color: #7a5b00;
    font-size: .8rem;
    margin-bottom: 3px;
}

.cargo {
    font-size: .75rem;
    color: #444;
}

.curso,
.ano {
    font-size: .7rem;
    color: #444;
}